@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
html,
body{
    font-size: 62.5%;
    color: #ffffff;
    scroll-behavior: smooth;
    letter-spacing: -0.1rem;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overflow-y: visible;
    font-family: "nanumsquare";
    font-weight:400;
    word-break: keep-all;
}

body::-webkit-scrollbar {
    display: none;
}

.sec01{
    position: relative;
    width: 100vw;
    height: 160vw;
}
.background01{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 160vw;
}
.background01-trans{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 160vw;
}
.sticky-box{
    position: sticky;
    top:40%;
    height: 50vh;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome img:first-child{
    width: 20.5rem;
    height: auto;
}
.welcome img:last-child{
    width: 74.8rem;
    height: auto;
    margin-top: 2rem;
}
.arrowdown-sticky{
    position: sticky;
    top:95%;
    text-align: center;
    height: 6vh;
    z-index: 3;
}
.arrowdown{
    width: 5rem;
    height: auto;
}

.sec02{
    position: relative;
    width: 100vw;
    height: 70vw;
    overflow: hidden;
}
.background02{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vw;
}
.mozip-box{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10vw;
}
.mozip{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width: 64rem;
}
.mozip-title{
    font-size: 3.8rem;
}
.mozip-title span{
    font-weight: 700;
}
.mozip-text{
    margin-top: 4rem;
    font-size: 2rem;
    line-height: 3rem;
}
.mozip-line{
    width: 100%;
    border-top: 1px solid #ffffff;
    margin: 8rem 0;
}
.mozip-detail{
    display: flex;
    justify-content:space-around;
}
.mozip-detail-01{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mozip-detail-title{
    font-size: 2rem;
    font-weight: 700;
}
.mozip-detail-text{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.6rem;
}
.mozip-detail-text p{
    margin-bottom: 2rem;
}
.mozip-link-btn{
    width: 100%;
    height: 6rem;
    border-radius: 4rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 6rem;
    text-align: center;
    background-color: #DB4954;
    margin-top: 6rem;
}

.background03{
    background-image: url("../images/background03.png");
    background-color: #21409A;
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 40vh 0;
}
.sec03-content{
    width: 100vw;
    height: 120vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.soge01,
.soge02{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.soge01{
    align-items: end;
}
.soge01 p{
    text-align: right;
}
.soge01 p,
.soge02 p{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    margin-top: 3rem;
}
.soge01 p:nth-child(2),
.soge02 p:nth-child(2){
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 8rem;
    margin-top: 5rem;
}
.soge-right{
    margin-left: 20vw;
}
.soge-left{
    margin-top: 20vh;
    margin-right: 20vw;
}

.soge01 img,
.soge02 img{
    width: 50vw;
}
.background04{
    background-color: #ffffff;
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
}
.background04-shadow{
    width: 100vw;
    margin-bottom: 20rem;
}
.background04-box{
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member{
    display: flex;
    justify-content: space-between;
}
.member-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;
    color: #6D6E71;
    width: auto;
}
.member-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
}
.member-name p{
    margin-top: 1.2rem;
}
.member-name p:last-child{
    font-size: 2rem;
    margin-top: 0.8rem;
}
.member-intro{
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.8rem;
    margin-top: 2.8rem;
    margin-bottom: 3.6rem;
    width: 28rem;
    height: auto;
}
.member-icon a img{
    width: 3.6rem;
    height: 3.6rem;
}
.member-icon a:first-child{
    margin-right: 0.5rem;
}
.new-member{
    width: 80%;
}
.new-member-btn{
    width: 100%;
    height: 4.4rem;
    border-radius: 4rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    line-height: 4.4rem;
    background-color: #FF675F
}
.footer{
    padding: 0 10vw;
    padding-bottom: 8rem;
}
.footer-line{
    width: 100%;
    border-top: 1px solid #6D6E71;
    margin-bottom: 4rem;
    margin-top: 29rem;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6D6E71;
    font-size: 1.6rem;
    font-weight: 400;
}
.footer-info p{
    margin-bottom: 1.2rem;
}
.footer-info p a{
    color: #FF675F;
    font-weight: 700;
}
@media (max-width: 960px) {
    html,
    body {
        font-size: 31.25%;
    }
}
@media (max-width: 768px) {
    html,
    body {
        font-size: 25%;
    }
}  